<footer id="footer" class="footer dark-background">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-12 col-md-12 footer-about">
                <div class="footer-contact pt-3">
<!--                    <a class="logo d-flex align-items-center">-->
<!--                        <img class="sitename" src="/svg/logo.svg" alt="Logo" width="160" height="80">-->
<!--                    </a>-->
                    <p><strong>도로명: </strong>서울시 중랑구 망우로291</p>
                    <p><strong>지번: </strong>상봉동 100-17</p>
                    <p class="mt-3"><strong>Phone: </strong> <span>010-1234-1234</span></p>
                    <p><strong>Email: </strong> <span>sstrip@naver.com</span></p>
                    <p>Copyright © All rights reserved by <strong>SBSJ</strong></p>
                </div>
            </div>
        </div>
    </div>
</footer>